.Screensize_480 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3000px;
  height: 2077px;
  z-index: 239;
}
.header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3000px;
  height: 2077px;
  z-index: 238;
}
.Layer_3_copy_6 {
  background-image: url("Layer 3 copy 6.png");
  position: absolute;
  left: 1183px;
  top: 469px;
  width: 768px;
  height: 8px;
  z-index: 232;
}
.Layer_3_copy_2 {
  background-image: url("Layer 3 copy 2.png");
  position: absolute;
  left: 653px;
  top: 449px;
  width: 480px;
  height: 8px;
  z-index: 231;
}
.Layer_1_copy_2 {
  background-image: url("Layer 1 copy 2.png");
  position: absolute;
  left: 674px;
  top: 403px;
  width: 122px;
  height: 37px;
  z-index: 230;
}
.slider {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3000px;
  height: 2077px;
  z-index: 228;
}
.Shape_2_copy_8 {
  border-radius: 50%;
  background-color: rgb(188, 213, 70);
  position: absolute;
  left: 904px;
  top: 632px;
  width: 9px;
  height: 9px;
  z-index: 227;
}
.Shape_2_copy_7 {
  border-radius: 50%;
  background-color: rgb(188, 213, 70);
  position: absolute;
  left: 889px;
  top: 632px;
  width: 9px;
  height: 9px;
  z-index: 226;
}
.Shape_2_copy_6 {
  border-radius: 50%;
  background-color: rgb(188, 213, 70);
  position: absolute;
  left: 873px;
  top: 632px;
  width: 9px;
  height: 9px;
  z-index: 225;
}
.Lorem_ipsum_dolor_sit_amet {
  font-size: 48px;
  font-family: "Arial";
  color: rgb(117, 117, 117);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix(0.78478999351907, 0, 0, 0.78478999351907, 0, 0);
  -webkit-transform: matrix(0.78478999351907, 0, 0, 0.78478999351907, 0, 0);
  -ms-transform: matrix(0.78478999351907, 0, 0, 0.78478999351907, 0, 0);
  position: absolute;
  left: 813.469px;
  top: 501.509px;
  width: 327.063px;
  height: 94.6px;
  z-index: 224;
}
.Vector_Smart_Object_copy_29 {
  background-image: url("Vector Smart Object copy 29.png");
  position: absolute;
  left: 656px;
  top: 511px;
  width: 473px;
  height: 83px;
  z-index: 222;
}
.Layer_4_copy_5 {
  background-image: url("Layer 4 copy 5.png");
  position: absolute;
  left: 653px;
  top: 457px;
  width: 480px;
  height: 195px;
  z-index: 221;
}
.who_we_are {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3000px;
  height: 2077px;
  z-index: 219;
}
.show_more {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3000px;
  height: 2077px;
  z-index: 218;
}
.show_more {
  font-size: 11px;
  font-family: "Arial";
  color: rgb(100, 100, 100);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix(0.80657767637255, 0, 0, 0.80657767637255, 0, 0);
  -webkit-transform: matrix(0.80657767637255, 0, 0, 0.80657767637255, 0, 0);
  -ms-transform: matrix(0.80657767637255, 0, 0, 0.80657767637255, 0, 0);
  position: absolute;
  left: 1037.078px;
  top: 973.805px;
  z-index: 217;
}
.Shape_6_copy_5 {
  border-radius: 3px;
  background-color: rgb(188, 213, 70);
  position: absolute;
  left: 1035px;
  top: 968px;
  width: 67px;
  height: 23px;
  z-index: 216;
}
.show_more {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3000px;
  height: 2077px;
  z-index: 214;
}
.show_more {
  font-size: 11px;
  font-family: "Arial";
  color: rgb(100, 100, 100);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix(0.80657767637255, 0, 0, 0.80657767637255, 0, 0);
  -webkit-transform: matrix(0.80657767637255, 0, 0, 0.80657767637255, 0, 0);
  -ms-transform: matrix(0.80657767637255, 0, 0, 0.80657767637255, 0, 0);
  position: absolute;
  left: 1037.078px;
  top: 822.805px;
  z-index: 213;
}
.Shape_6_copy_4 {
  border-radius: 3px;
  background-color: rgb(188, 213, 70);
  position: absolute;
  left: 1035px;
  top: 817px;
  width: 67px;
  height: 23px;
  z-index: 212;
}
.Lorem_ipsum__Lorem_ipsum_dolor_sit_amet__consec {
  font-size: 15px;
  font-family: "Arial";
  color: rgb(100, 100, 100);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 913px;
  top: 878.128px;
  width: 185px;
  height: 89px;
  z-index: 210;
}
.Lorem_ipsum__Lorem_ipsum_dolor_sit_amet__consec {
  font-size: 15px;
  font-family: "Arial";
  color: rgb(100, 100, 100);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 913px;
  top: 725.128px;
  width: 185px;
  height: 89px;
  z-index: 209;
}
.Shape_4_copy_13 {
  background-color: rgb(188, 213, 70);
  position: absolute;
  left: 686px;
  top: 880px;
  width: 189px;
  height: 113px;
  z-index: 206;
}
.Shape_4_copy_12 {
  background-color: rgb(188, 213, 70);
  position: absolute;
  left: 686px;
  top: 727px;
  width: 189px;
  height: 113px;
  z-index: 205;
}
.WHO_WE_ARE {
  font-size: 30px;
  font-family: "Arial";
  color: rgb(117, 117, 117);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 686px;
  top: 678.255px;
  width: 199px;
  height: 22px;
  z-index: 204;
}
.what_we_do {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3000px;
  height: 2077px;
  z-index: 202;
}
.Shape_4_copy_17 {
  background-color: rgb(188, 213, 70);
  position: absolute;
  left: 914px;
  top: 1237px;
  width: 189px;
  height: 113px;
  z-index: 197;
}
.Shape_4_copy_16 {
  background-color: rgb(188, 213, 70);
  position: absolute;
  left: 914px;
  top: 1084px;
  width: 189px;
  height: 113px;
  z-index: 196;
}
.Shape_4_copy_15 {
  background-color: rgb(188, 213, 70);
  position: absolute;
  left: 686px;
  top: 1237px;
  width: 189px;
  height: 113px;
  z-index: 195;
}
.Shape_4_copy_14 {
  background-color: rgb(188, 213, 70);
  position: absolute;
  left: 686px;
  top: 1084px;
  width: 189px;
  height: 113px;
  z-index: 194;
}
.WHAT_WE_DO {
  font-size: 30px;
  font-family: "Arial";
  color: rgb(117, 117, 117);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 686px;
  top: 1035.255px;
  width: 198px;
  height: 22px;
  z-index: 193;
}
.Shape_3_copy_5 {
  background-color: rgb(188, 213, 70);
  position: absolute;
  left: 649px;
  top: 652px;
  width: 484px;
  height: 1px;
  z-index: 191;
}
.Shape_3_copy_4 {
  background-color: rgb(188, 213, 70);
  position: absolute;
  left: 651px;
  top: 653px;
  width: 482px;
  height: 1px;
  z-index: 190;
}
.footer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3000px;
  height: 2077px;
  z-index: 189;
}
.Shape_5_copy_21 {
  border-radius: 50%;
  background-color: rgb(188, 213, 70);
  position: absolute;
  left: 685px;
  top: 1413px;
  width: 40px;
  height: 39px;
  z-index: 184;
}
.Shape_5_copy_20 {
  border-radius: 50%;
  background-color: rgb(188, 213, 70);
  position: absolute;
  left: 742px;
  top: 1413px;
  width: 40px;
  height: 39px;
  z-index: 183;
}
.Shape_5_copy_19 {
  border-radius: 50%;
  background-color: rgb(188, 213, 70);
  position: absolute;
  left: 799px;
  top: 1413px;
  width: 40px;
  height: 39px;
  z-index: 182;
}
.Shape_5_copy_2 {
  border-radius: 50%;
  background-color: rgb(188, 213, 70);
  position: absolute;
  left: 1063px;
  top: 1413px;
  width: 40px;
  height: 39px;
  z-index: 181;
}
.Shape_1_copy_2 {
  background-color: rgb(188, 213, 70);
  position: absolute;
  left: 651px;
  top: 1404px;
  width: 482px;
  height: 59px;
  z-index: 180;
}
