.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  padding: 0;
}

.aside-1 {
  /* text-align: center;
  padding: 0; */
}

.aside-2 {
  /* background: hotpink; */
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0 0;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .aside-2 {
    order: 3;
  }
  .footer {
    order: 4;
  }
}

body {
  /* padding: 2em; */
  margin: 0;
}

/******************************************************************************/
p {
  text-align: left;
}
/*navigation*/
.menu-container {
  color: #fff;
  /* padding: 10px 10px 10px 10px; */
  display: flex;
  justify-content: center; /* Add this */
}

/*koristi se i za footer*/
.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.links {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.login {
  margin-left: 20px;
}

/*slider*/
.header-container {
  background-image: url("../images/Vector Smart Object copy 36.png"); /*NE RADI SLIKA*/
  display: flex;
  justify-content: center;
  /* margin-bottom: 20px; */
  background-color: rgb(243, 243, 243);
}

.social,
.subscribe {
  border: 1px solid #5995da;
}

.slider {
  width: 300px;
  height: fit-content;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.slide {
  width: 300px;
  height: fit-content;
  flex-shrink: 0;
  height: 100%;
  padding: 4% 40% 0 36%;
}

/* .slider-grid-container {
  display: flex;
  justify-content: center;
} */

.slider-grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.slider-grid-item {
  border: 1px solid #fff;
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.other-item {
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  height: 30px;
  padding: 5px;
}

/*****************************************************************/
/*gigaklasa koristis za obe kockice*/
.photo-grid-container {
  display: flex;
  justify-content: center;
}

/*koristis is za druge kockice i kockice sa tekstom*/
.photo-grid {
  /* width: 900px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

/*koristis za svaki element photo grida kod prvih i drugih kockica*/
.photo-grid-item {
  padding-bottom: 15px;
  margin: 5px;
  /* background-color: aqua; */
}

/*prve kockice i naslov*/
.first-header {
  width: 100%;
  height: 50px;
  padding: 10px 0 0 20px;
  display: flex;
  /* justify-content: center; */
  align-items: stretch;
}
.show-more {
  margin-left: 20px;
}

/*fali background-color: rgb(188, 213, 70); i position left: 361px;
  top: 866px;*/
.Shape_4_copy_19 {
  width: 170px;
  height: 102px;
  z-index: 251;
  padding-top: 4rem;
  background-color: rgb(233, 233, 233);
}

/*****************************************************************/
/*footer*/
.footer {
  color: #fff;
  padding: 10px 10px 10px 10px;
  display: flex;
  background-color: #dbdbdb;
}

.footer-links {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.up {
  margin-left: 20px;
}

/*treba ubaciti u footer*/
.circles_footer {
  border-radius: 50%;
  background-color: rgb(243, 243, 243);
  width: 40px;
  height: 39px;
  z-index: 270;
  overflow: hidden;
  justify-content: center;
  padding: 8px 0 0 13px;
  margin: 0 18px 3px 0;
}

/**************************************************************************************/

.dropbtn {
  background-image: url("../images/Vector Smart Object copy 52.png");
  background-size: cover;
  height: 18px;
  width: 18px;
  background-color: transparent;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.dropdown-color {
  background-image: -moz-linear-gradient(
    0deg,
    rgb(193, 217, 88) 0%,
    rgb(19, 117, 184) 100%
  );
  background-image: -webkit-linear-gradient(
    0deg,
    rgb(193, 217, 88) 0%,
    rgb(19, 117, 184) 100%
  );
  background-image: -ms-linear-gradient(
    0deg,
    rgb(193, 217, 88) 0%,
    rgb(19, 117, 184) 100%
  );
  /* position: absolute; */
  /* left: 2104px;
  top: 881px; */
  width: 321px;
  height: 22px;
  z-index: 93;
}

.search {
  background-image: url("../images/Vector Smart Object copy 51.png");
  background-size: cover;
  height: 18px;
  width: 18px;
  background-color: transparent;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

/* .dropdown {
  position: relative;
  display: inline-block;
} */

.search-content {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}

/* .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

/* .dropdown a:hover {
  background-color: #ddd;
} */

.show {
  display: block;
}

.field {
  border: 1px solid #666;
  border-radius: 2px;
  width: 310px;
  padding-top: 3px;
}
