:root {
  --primary-font-color: #888;
  --primary-font-weight: 300;
}

.img-div {
  --phone-img: url("../images/Vector Smart Object copy 49.png");
  --phone-img-hover: url("../images/Vector Smart Object copy 71.png");
  --like-img: url("../images/Vector Smart Object copy 50.png");
  --like-img-hover: url("../images/Vector Smart Object copy 72.png");
  --calc-img: url("../images/Vector Smart Object copy 67.png");
  --calc-img-hover: url("../images/Vector Smart Object copy 75.png");
  --clock-img: url("../images/Vector Smart Object copy 44.png");
  --clock-img-hover: url("../images/Vector Smart Object copy 76.png");
  --cloud-img: url("../images/Vector Smart Object copy 69.png");
  --cloud-img-hover: url("../images/Vector Smart Object copy 73.png");
  --heart-img: url("../images/Vector Smart Object copy 70.png");
  --heart-img-hover: url("../images/Vector Smart Object copy 74.png");
  --fb-img: url("../images/Vector Smart Object copy 45.png");
  --fb-img-hover: url("../images/Vector Smart Object copy 81.png");
  --twitter-img: url("../images/Vector Smart Object copy 46.png");
  --twitter-img-hover: url("../images/Vector Smart Object copy 82.png");
  --mail-img: url("../images/Vector Smart Object copy 47.png");
  --mail-img-hover: url("../images/Vector Smart Object copy 83.png");
  --arrow-img: url("../images/Vector Smart Object copy 48.png");
  --arrow-img-hover: url("../images/Vector Smart Object copy 84.png");
  --home-img: url("../images/Vector Smart Object copy 58.png");
  --home-img-hover: url("../images/Vector Smart Object copy 54.png");
  --info-img: url("../images/Vector Smart Object copy 59.png");
  --info-img-hover: url("../images/Vector Smart Object copy 55.png");
  --hat-menu-img: url("../images/Vector Smart Object copy 60.png");
  --hat-menu-img-hover: url("../images/Vector Smart Object copy 56.png");
  --mail-menu-img: url("../images/Vector Smart Object copy 61.png");
  --mail-menu-img-hover: url("../images/Vector Smart Object copy 57.png");
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-weight: var(--primary-font-weight);
  color: var(--primary-font-color);
}

.img-div {
  background-repeat: no-repeat;
  background-position: center;
}

.img-div.phone {
  height: 45px;
  width: 55px;
  background-image: var(--phone-img);
}

.img-wrapper:hover > .phone,
.img-wrapper:active > .phone {
  background-image: var(--phone-img-hover);
}

.img-div.like {
  height: 45px;
  width: 55px;
  background-image: var(--like-img);
}

.img-wrapper:hover > .like,
.img-wrapper:active > .like {
  background-image: var(--like-img-hover);
}

.img-div.calc {
  height: 45px;
  width: 55px;
  background-image: var(--calc-img);
}

.img-wrapper:hover > .calc,
.img-wrapper:active > .calc {
  background-image: var(--calc-img-hover);
}

.img-div.clock {
  height: 45px;
  width: 55px;
  background-image: var(--clock-img);
}

.img-wrapper:hover > .clock,
.img-wrapper:active > .clock {
  background-image: var(--clock-img-hover);
}

.img-div.cloud {
  height: 45px;
  width: 55px;
  background-image: var(--cloud-img);
}

.img-wrapper:hover > .cloud,
.img-wrapper:active > .cloud {
  background-image: var(--cloud-img-hover);
}

.img-div.heart {
  height: 45px;
  width: 55px;
  background-image: var(--heart-img);
}

.img-wrapper:hover > .heart,
.img-wrapper:active > .heart {
  background-image: var(--heart-img-hover);
}
header {
  width: 100%;
}

header > img {
  width: 100%;
  height: 8px;
}

header > .menu-container {
  padding: 16px;
  padding-bottom: 0;
}

.photo-grid-item > .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 103px;
  width: 170px;
  background-color: #e9e9e9;
}

.footer {
  background: lightgreen;
  margin-top: 15px;
}

.carousel {
  text-align: left;
  padding: 0;
  margin: -4px 0 0 0;
}

p {
  text-align: left;
}
.menu-container {
  color: #fff;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.links {
  display: flex;
  justify-content: flex-end;
}
.login {
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
}

.header-container {
  background: url("../images/Vector Smart Object copy 36.png") center repeat-x; /*NE RADI SLIKA*/
  display: flex;
  justify-content: center;
  background-color: rgb(243, 243, 243);
}

.social,
.subscribe {
  border: 1px solid #5995da;
}

.slider {
  width: 300px;
  height: fit-content;
  display: flex;
  overflow-x: auto;
}
.slide {
  width: 300px;
  height: fit-content;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  margin: 0 auto;
}

.slider-grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.slider-grid-item {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.other-item {
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  height: 30px;
  padding: 5px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.photo-grid-inner-wrapper {
  position: relative;
  width: 400px;
  max-width: 50%;
}

.grid-wrapper {
  overflow: hidden;
  margin: 24px 0;
  width: 100%;
}

.photo-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, calc(50% - 16px));
  gap: 32px;
}

.item-description > .show-more {
  float: right;
  color: #646464;
  text-decoration: none;
  background: #f3f3f4;
  padding: 4px;
  font-size: 9px;
  text-transform: uppercase;
}
.show-more:hover {
  background-color: #bbd547;
  color: white;
}

.item-description > p {
  text-align: justify;
  font-size: 12px;
}

.item-description > h4,
.item-description > p {
  margin: 0;
  margin-bottom: 4px;
}

.photo-grid-item {
  align-items: center;
  justify-content: center;
}

.first-header {
  padding-left: 16px;
}
.show-more {
  margin-left: 20px;
}


.footer {
  color: #fff;
  padding: 10px 11px 10px 12px;
  display: flex;
  background-color: #dbdbdb;
}

.footer-links {
  display: flex;
  justify-content: flex-start;
}

.up {
  margin-left: 20px;
}

.circles_footer {
  border-radius: 50%;
  background-color: rgb(243, 243, 243);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.img-div.fb {
  height: 40px;
  width: 40px;
  background-image: var(--fb-img);
}

.circles_footer:hover > .fb,
.circles_footer:active > .fb {
  background-image: var(--fb-img-hover);
}

.img-div.twitter {
  height: 40px;
  width: 40px;
  background-image: var(--twitter-img);
}

.circles_footer:hover > .twitter,
.circles_footer:active > .twitter {
  background-image: var(--twitter-img-hover);
}

.img-div.mail {
  height: 40px;
  width: 40px;
  background-image: var(--mail-img);
}

.circles_footer:hover > .mail,
.circles_footer:active > .mail {
  background-image: var(--mail-img-hover);
}

.img-div.arrow {
  height: 40px;
  width: 40px;
  background-image: var(--arrow-img);
}

.circles_footer:hover > .arrow,
.circles_footer:active > .arrow {
  background-image: var(--arrow-img-hover);
}

.dropbtn {
  background-image: url("../images/Vector Smart Object copy 52.png");
  background-size: cover;
  height: 18px;
  width: 18px;
  background-color: transparent;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  left: 0;
  z-index: 1;
  margin-top: 32px;
}

.dropdown-content a {
  color: black;
  padding: 4px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.dropdown-color1 {
  background-color: #bbd547;
  width: 321px;
  height: 22px;
  z-index: 93;
}
.dropdown-color2 {
  background-color: #81b36e;
  width: 321px;
  height: 22px;
  z-index: 93;
}
.dropdown-color3 {
  background-color: #429099;
  width: 321px;
  height: 22px;
  z-index: 93;
}
.dropdown-color4 {
  background-color: #1375b8;
  width: 321px;
  height: 22px;
  z-index: 93;
}

.search {
  background-image: url("../images/Vector Smart Object copy 51.png");
  background-size: cover;
  height: 18px;
  width: 18px;
  background-color: transparent;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

.search-content {
  display: none;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
  margin-top: 13px;
  justify-content: center;
}

.show {
  display: flex;
}

.show-dropdown{
  display: block;
}

.field {
  border: 1px solid #666;
  border-radius: 2px;
  width: 310px;
  padding-top: 3px;
  margin-left: 5px;
}

@media screen and (max-width: 479px) {
  .mob-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0 9px 0;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
  }
  .photo-grid {
    grid-template-columns: initial;
    gap: 8px;
  }

  .item-description > h4 {
    margin-bottom: 8px;
    font-size: 15px;
    color: #646464;
  }

  .item-description > p {
    display: none;
  }

  .signup2 {
    display: none;
  }
  .mid-menu {
    display: none;
  }
  .signup3 {
    display: none;
  }
  .signup {
    display: flex;
    justify-content: flex-end;
  }
  .slide {
    display: flex;
    justify-content: center;
    padding: 11px 0 14px 0;
  }
  .dots {
    display: none;
  }
  .photo-grid-inner-wrapper {
    width: 160px;
    max-width: none;
  }
  h2 {
    font-size: 26px;
    color: #757575;
  }
  .slide > .title-big {
    display: none;
  }
  .slide-img {
    width: 98px;
    height: 93px;
  }
    .photo-grid-item {
      margin-top: 15px;
    }
    .photo-grid-item:first-child {
margin-top:0;
    }
}

@media only screen and (min-width: 479px) and (max-width: 767px) {
  .dropbtn {
    display: none;
  }
  .signup3 {
    display: none;
  }
  .mid-menu {
    display: inline-flex;
  }
  .links {
    display: flex;
    width: calc(377px + 69px + 16px);
    justify-content: space-between;
  }

  .photo-grid-inner-wrapper {
    max-width: 80%;
  }
  .prev,
  .next {
    display: none;
  }
  .photo-grid-item > .img-wrapper {
    width: 189px;
    height: 113px;
  }
  .title-mob {
    display: none;
  }
  .slide-img {
    width: 133px;
    height: 126px;
  }
  .slide {
    margin: 0 22px 0 48px;
    width: auto;
    padding: 32px 0 37px 0;
  }
  .dot {
    margin-bottom: 11px;
  }
  .slide > h1 {
    margin-left: 18px;
    font-size: 37.5px;
    color: #757575;
  }
  h2 {
    font-size: 30px;
    color: #757575;
  }
  .item-description {
    font-size: 13px;
    color: #646464;
  }
  .footer {
    padding: 10px 27px 10px 10px;
  }
  .footer-links {
    margin-left: 34px;
  }
  .mob-center {
    display: none;
  }
}

@media only screen and (min-width: 767px) {
  .signup2 {
    display: none;
  }
  .dropbtn {
    display: none;
  }
  .mid-menu {
    display: none;
  }
  .links {
    display: contents;
    justify-content: space-between;
  }

  .prev,
  .next {
    display: none;
  }
  .photo-grid-item > .img-wrapper {
    width: 189px;
    height: 113px;
  }
  .title-mob {
    display: none;
  }
  .photo-grid-inner-wrapper {
    max-width: 60%;
  }
  .slide-img {
    width: 170px;
    height: 161px;
  }
  .slide {
    margin: 0 125px 0 119px;
    width: auto;
    padding: 70px 0 75px 0;
  }
  .signup3 > p {
    font-size: 17px;
    color: #a1a3a6;
  }
  h1 {
    font-size: 48px;
    color: #757575;
  }
  .slide > h1 {
    margin-left: 24px;
  }
  h2 {
    font-size: 30px;
    color: #757575;
  }
  .item-description {
    font-size: 13px;
    color: #646464;
  }
  .img-cont {
    width: 170px;
    flex-shrink: 0;
  }
  .mob-center {
    display: none;
  }
}

.dots {
  text-align: center;
}

.img-div.home {
  height: 25px;
  width: 30px;
  background-image: var(--home-img);
}

.signup2:hover > .home,
.signup2:active > .home {
  background-image: var(--home-img-hover);
}

.img-div.info {
  height: 25px;
  width: 30px;
  background-image: var(--info-img);
}

.signup2:hover > .info,
.signup2:active > .info {
  background-image: var(--info-img-hover);
}

.img-div.hat-menu {
  height: 25px;
  width: 30px;
  background-image: var(--hat-menu-img);
}

.signup2:hover > .hat-menu,
.signup2:active > .hat-menu {
  background-image: var(--hat-menu-img-hover);
}

.img-div.mail-menu {
  height: 25px;
  width: 30px;
  background-image: var(--mail-menu-img);
}

.signup2:hover > .mail-menu,
.signup2:active > .mail-menu {
  background-image: var(--mail-menu-img-hover);
}

.mySlides {
  display: none;
}
.mySlides:first-child {
  display: block;
}
img {
  vertical-align: middle;
}

.slideshow-container {
  position: relative;
  margin: auto;
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  bottom: -34%;
  width: 6px;
  height: 10px;
  padding: 16px;
  margin-top: -22px;
  color: #bababa;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 9px;
  width: 9px;
  margin: 0 2px;
  margin-bottom: 16px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #bcd546;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.slide > h1 {
  align-items: center;
  display: flex;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  width: 298px;
  height: 10px;
  font-size: 14px;
  align-items: center;
  color: #757575;
}

.title-mob {
  width: 228px;
  height: 13px;
  font-size: 18px;
  text-align: center;
  color: #757575;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup-home:hover {
  color: #bbd547;
}
#signup-us:hover {
  color: #81b36e;
}
#signup-work:hover {
  color: #429099;
}
#signup-contact:hover {
  color: #1375b8;
}
img {
  width: 100%;
}
